.main-container{
    position: relative;
    height: 1000px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 40px;
    border-radius: 5px;
    border: darkgray 2px solid;
}
.main-container p{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    position: relative;
    overflow: hidden;
}
.main-container hr{
    border: 1px dashed black;
}

/*top部分*/
.top{
    width: 100%;
    height: 50px;
    text-align: center;
}
.top .title{
    font-family: 方正粗黑宋简体;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
}

/*middle部分*/
.middle{
    width: 100%;
    height: 600px;
    line-height:500px;
}
.middle .left{
    height: 100%;
    float: left;
    width: 50%;
}
/**左侧**/
/***图片***/
.left .picture{
    display: flex;
    align-items: center;
    margin: auto;
    height: 80% ;
    width: 90%;
    position: relative;
}
.picture img{
    padding-top: 100px;
    width: 100%;
    max-height: 600px;
}


/***喜欢按钮***/
.left .love{
    margin:auto;
    height: 20%;
    width: 90%;
    position: relative;
}
.love .icon{
    width: 40px;
    cursor: pointer;
}
/**右侧**/
.middle .right{
    float:left;
    width:50%;
    height: 100%;
}
.right .section-head{
    height: 30px;
    line-height: 30px;
}
/*like-number*/
.middle .right .like-number{
    float: left;
    border-radius: 5px;
    border: darkgray 2px solid;
    margin: 5% 5% 2% 0;
    width: 90%;
    height: 150px;
}
.number{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    height: 50px;
}

#favor-number{
    width: 50%;
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 1.5em;
    font-weight: bolder;
}

#love {
    width: 50%;
    float: left;
    height: 50px;
    line-height: 50px;
}

#love img{
    width: 40px;
}


/*image-details*/
.image-details{
    float: left;
    border-radius: 5px;
    border: darkgray 2px solid;
    margin: 5% 5% 2% 0;
    width: 90%;
    min-height: 400px;
}
.image-details ul{
    margin-top: 0;
    padding: 0;
    position: center;
    list-style-type: none;
    margin-left: 10px;
    text-align: left;
    font-family: 方正粗黑宋简体;
    font-weight: normal;
    font-size: 1.2em;
    overflow: hidden;
}
.image-details li{
    padding-bottom: 10px;
    border-bottom:1px black solid;
    line-height: 60px;
}

/*bottom部分*/
.bottom{
    margin: 5% 5% 5% 5%;
    width: 90%;
    height:200px
}
.bottom p{
    line-height: 2em;
    font-size: 1.6em;
    font-weight: lighter;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    text-overflow:ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:4;
}