.main-container{
    position: relative;
    width:500px;
    height: 1100px;
    margin: auto;
    text-align: center;
}
/*logo*/
.logo-container{
    position:relative;
    display: block;
    margin-top: 20%;
    font-weight: bolder;
    font-size: 1.5em;
}

/*表单部分*/
.form-container{
    display: block;
    height:820px;
    border-radius: 10px;
    border: darkgray 2px solid;
}
.form-group{
    height: 150px;
    line-height: 150px;
    display: block;
    text-align: center;
}
.word-div{
    height: 50px;
    line-height: 50px;
}
.input-div{
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.alert-div{
    height: 20px;
    line-height: 20px;
}

.input-div input{
    width: 350px;
    height: 35px;
}

.login-logo{
    text-align: center;
}
hr{
    border: dashed 1px;
}
