/*主容器*/
.main-container{
    position: relative ;
    min-width: 600px;
    height: 1100px ;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30px;
    width: 70%;
    border: darkgray 2px solid;
    border-radius: 5px;
    display: block;

}
.main-container p{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    position: relative;
    overflow: hidden;
}
.main-container hr{
    width: 50%;
    border: 1px dashed black;
}
#long1,#long2{
    width: 100%;
}

/*上传界面*/
.upload-picture-container{
    height: 450px;
    position: relative;
    margin: auto;
}

#uploadedImg{
    margin: auto;
    width: 60%;
    max-width: 600px;
    height: 100%;
}


.upload-button-container{
    vertical-align: middle;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    height: 150px;
    line-height: 150px;/*行内垂直居中*/
}
#upload-input{
    position: absolute;
    margin: auto;
    height: 50px;
    left: 120px;
    right: 0;
    top:0;
    bottom: 0;
    opacity: 0;
    font-size: 1.1em;
    z-index: 2;
}

/*表单界面*/
.text-container{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

#text-container1{
    margin-top: 50px;
}

.text-container .request{
    margin: 0 auto;
    width: 60%;
    font-size: 1.2em;
    text-align: left;
    font-weight: bold;
}

select{
    width: 60%;
}

input{
    width: 60%;
}

textarea{
    width: 60%;
}

.submit {
    text-align: center;
    margin: auto;
    width: 100px;
}


